@import "{{ site.theme }}";


.side-bar {
    width: 40%;
    max-width: $container-max-width;
    margin: 0 auto;
  }


  .site-nav {
    width: 40%;
    max-width: $container-max-width;
    margin: 0 auto;
  }

  .nav-list {
    width: 40%;
    max-width: $container-max-width;
    margin: 0 auto;
  }


  .navbar-list-item {
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
  }